* Made By MaterializeCSS.com
*/

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

/* .card {
    display: inline-block;
} */

.fa {
    /* background: teal;
    border: teal;
    display: no-repeat;
    color: black; */
    height: 15px;
    width: 15px;
}

footer.page-footer {
    margin: 0;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.parallex {
    width: 50px;
}

.parallax-container {
    color: rgba(255,255,255,.9);
    height: auto;
    line-height: 0;
    min-height: 380px;
    zoom: 100em;
}

.parallax-container .section {
    width: 100%;
}

/* .preloader-wrapper big active {
    text-align: center;
} */

.sidenav-trigger {
    color: #26a69a;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
            top: 10%;
        }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

@media only screen and (max-width : 992px) {
    .parallax img {
      max-height: 130%; /* or a little bit higher */
    }
  }
  
  @media only screen and (min-width: 993px) {
    .parallax img {
      max-height: 170%; /* or higher percentages. It's up to your taste */
    }
  }