* Made By MaterializeCSS.com
*/

li {
    background: teal;
    font-family: 'Montserrat';
}

nav ul a,
nav .brand-logo {
    color: #444;
    font-family: 'Montserrat';
}

#nav-teal {
    height: 69px;
}

p {
    line-height: 2rem;
    font-family: 'Montserrat';
}

.card:hover {
    background-color: teal!important;
    box-shadow: 50px red;
}

.fa {
    /* background: teal;
    border: teal;
    display: no-repeat; */
    color: white;
    height: 20px;
    width: 2px;
    font-family: 'Montserrat';
}

.front-end-row, .back-end-row {
    margin-left: 15px;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Montserrat';
}

footer.page-footer {
    margin: 0;
    font-family: 'Montserrat';
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.header .center .teal-text .text-lighten-2 {
    text-shadow: 5px 5px 5px;
    font-family: 'Montserrat';
}

#nbc-div .img{
    width: 20em;
    font-family: 'Montserrat';
}

.parallex {
    width: 100%;
    font-family: 'Montserrat';
}

.parallax-container {
    color: white;
    height: auto;
    line-height: 0;
    min-height: 380px;
    zoom: 100em;
    font-family: 'Montserrat';
}

.parallax-container, .section {
    width: 100%;
    font-family: 'Montserrat';
}

.sidenav-trigger {
    color: #26a69a;
}

.spin {
    position: absolute;
    left: 50%;
    top: 60%;
}

li, .white-text {
    margin-top: 5px;
    font-family: 'Montserrat';
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
            top: 10%;
        }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

@media only screen and (max-width : 992px) {
    .parallax img {
      max-height: 130%; /* or a little bit higher */
    }
  }
  
  @media only screen and (min-width: 993px) {
    .parallax img {
      max-height: 170%; /* or higher percentages. It's up to your taste */
    }
  }